extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  p Your personal horror movie collection

  div
    a(href='/user/register' class='btn btn-primary') Register

  div
    a(href='/user/login' class='btn btn-primary') Login

  div
    a(href='/movies' class='btn btn-primary') Movie Database
