extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1(class='landing-h1')= title
    h2(class='landing-h2') Your Personal Horror Movie Collection
    div(class='register-login-buttons')
      if locals.authenticated
        a(href='/movies' class='lk1') Enter
      else
        a(href='/user/register' class='lk1') Get Started
    br
    div(class='stock')
      img(id='homepage-image' src='images/woods.jpg' style='width:800px')
