include utils.pug
doctype html
html
  head
      block head
        title="Screaming Cinemas "
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/layout.css')

  body

    div
      if locals.authenticated
        p= `Welcome ${user.firstname}`
        form(class='logout-form' action='/user/logout' method='post')
            button(class='logout-button') Logout
    div(class='header')
      if locals.authenticated
        a(href='/' class='lk1') Home
        a(href='/movies' class='lk1') Movie Morgue
        a(href='/user/watchlist' class='lk1') My Movie Graveyard
        form(action='/search' class='search-input' method='post')
          input(type='hidden' name='_csrf' value=csrfToken)
          label(for='search')
          input(type='text' name='search' class='sb1')
          button(class='search_btn' type='submit') Search
      else
        a(href='/' class='lk1') Home
        a(href='/user/login' class='lk1') Login
        a(href='/movies' class='lk1') Movie Morgue
        form(action='/search' class='search-input' method='post')
          input(type='hidden' name='_csrf' value=csrfToken)
          label(for='search')
          input(type='text' name='search' class='sb1')
          button(class='search_btn' type='submit') Search
    block content
