h1 {
    color: #555555;
}
.landing-h1 {
    display: flex;
    justify-content: center;
}
.landing-h2 {
    color: #555555;
    display: flex;
    justify-content: center;
}
.register-login-buttons {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
