h1 {
    color: #555555;
    text-decoration: underline;
}
.landing-h1 {
    display: flex;
    justify-content: center;
}
.landing-h2 {
    color: #555555;
    display: flex;
    justify-content: center;
}
.register-login-buttons {
    display: flex;
    justify-content: space-evenly;
}
